html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
    margin-top: 100px;
    min-height: 10em;
    color: #193b40;
    background: url("../img/banner-trans.png") no-repeat;
}

h1 {
    color: #55a1de;
}

h2 {
    color: #4AB1BF;
}



.navbar {
    background-color: #4E83B9;
    border-radius: 0;
    border-width: 0;
    margin-bottom: 0;
}
.navbar-right {
    background-color: #55a1de;
}
.navbar-right > .navbar-text {
    color: white;
    font-weight: bold;
}
.navbar-brand > img {
    height: 100%;
}
.navbar-default .navbar-nav > li > a {
    color: #F8F8F8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background: rgba(78, 193, 255, 0.69);
    color: #F8F8F8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: rgba(78, 193, 255, 0.69);
    color: #F8F8F8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: rgba(78, 193, 255, 0.69);
    color: #F8F8F8;
}
.dropdown-menu {
    background-color: #4E83B9;
}
.dropdown-menu > li > a {
    color: #F8F8F8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #F8F8F8;
}

.banner {
    background: url("../img/banner-trans.png") no-repeat;
    background-size: 25%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.content {
    margin: 2% 2%;
    padding: 1% 20% 20%;
    background:rgba(255,255,255,0.9);
}
.form-control {
    width: 20em;
}
.ng-valid[required] {
    border-left: 5px solid #42a948;
}
.ng-invalid {
    border-left: 5px solid #a94442;
}
.ng-pristine {
    border: 1px solid #ccc;
}

.list-group {
    min-width: 200px;
    width: 100%;
}
.clickable-list {
    background-color: #f9f9f9;
}
.clickable-list:hover {
    background-color: #4E83B9;
    cursor: pointer;
    color: white;
}

.custom-row {
    text-align: center;
}

.fixed-column {
    width: 500px;
    float: left;
}

.center-content {
    display: table;
    margin: 0 auto;
}

.image-sizing {
    position: relative;
    height: 75px;
    width: 100%;
    overflow: hidden;

}

.error-message {
    color: red;
}

.card-image {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
}

.card {
    margin: 0 10px 20px;
    background-color: #fefabc;
    border-radius: 3px;
    padding: 4px;
    box-shadow: 2px 2px 2px #4985B9;
}

.chatbox {
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #4985B9;
}
.chat-component {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid lightgrey;
}

.card-thumbnail {
    height: auto;
    max-height: 6em;
    width: 7em;
}

.card-list {
    height: 20em;
    overflow: auto;
}
.card-list > li {
    height: 7em;
    width: 7em;
    overflow: hidden;
}
.card-list > li > img {
    border: none;
}
.card-text {
    height: 7em;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.tags li {
    float: left;
}
.custom-tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}
.custom-tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}
.custom-tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
.custom-tag:hover {
    background-color: #4985B9;
    color: white;
}
.custom-tag:hover::after {
    border-left-color: #4985B9;
}

.tags-create {
    overflow: auto;
    height: 5em;
    width: 40em;
    margin-left: -1em;
    padding: 5px;
    margin-bottom: 5px;
}
.tags-detail {
    overflow: auto;
    height: 5em;
    width: 29em;
    margin-left: -2em;
}
.tags-organisators {
    overflow: auto;
    height: 5em;
    width: 20em;
    margin-left: -2em;
}
.btn-default{
    min-width: 200px;
    padding:10px;
    width: 35%;
}
.btn-primary {
    min-width: 200px;
    padding:10px;
    width: 35%;
}
.well{
    width: 100%
}
.panel{
    width: 100%
}


/*----------------Sticky footer----------------------------------*/
.footer {
    background-color: #4985B9;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
.container {
    max-width: 680px;
    padding: 0 15px;
    width: auto;
}
.container .text-muted {
    margin: 20px 0;
    color: whitesmoke;
}

