<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="./favicon.ico">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/createSession" style="font-weight: bold"><span
                        class="glyphicon glyphicon-play-circle"></span> Maak een cirkelsessie</a></li>
                <li><a id="a_organisations" href="#/organisations">Organisaties</a></li>
                <li><a href="#/sessions">Sessies</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <p *ngIf="currentUserDetails" class="navbar-text">Welkom {{currentUserDetails.name}}! </p>
                <li><a href="#/register" *ngIf="currentUserDetails">Registreren</a></li>
                <li><a href="#/login" *ngIf="currentUserDetails">Inloggen</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Mijn account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/dashboard"><span class="glyphicon glyphicon-th-large"></span> Dashboard</a></li>
                        <li><a href="#/manageAccount"><span class="glyphicon glyphicon-cog"></span> Beheer</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/logout" (click)="userService.logout()"><span class="glyphicon glyphicon-off"></span> Uitloggen</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>