<h1>Hello Kandoe</h1>


<p style="margin-bottom: 100px">

    Aanmaken account<br>
    - specifiek account<br>
    - inloggen met sociaal netwerk<br>

    (Beheren account)<br>

    ---------------------------------------------------------------------------------------------------------------<br>

    Organisator maakt organisatie aan<br>

    Organisator maakt hoofdthema aan<br>

    Organisator maakt een of meerdere subthema’s aan<br>

    Organisator maakt kaartenset aan van scratch<br>
    - import van csv-bestand<br>

    Organisator koppelt kaartenset aan subthema(‘s)<br>

    Organisator maakt cirkelsessie aan (en koppelen aan subthema)<br>

    Organisator genereert een publieke link van een sessie voor deelname<br>

    Organisator nodigt deelnemers uit voor een sessie<br>

    Organisator kloont een sessie<br>

    Organisator wijst rol van organisator toe aan een geregistreerde deelnemer<br>

    Organisator start een spel<br>

    Organisator neemt een snapshot van het spelbord<br>

    Organisator beëindigd een sessie<br>

    Organisator herbekijkt een sessie<br>

    Organisator deelt een sessie via een link<br>

    Organisator maakt analyses van sessies rond eenzelfde thema<br>
    - mastercirkel<br>
    - correlaties tussen twee paar kaarten<br>
    - clusteranalyse<br>
    - (WEKA API) vaak voorkomende kaartencombinaties<br>

    <br>
    ----------------------------------------------------------------------------------------------------------------<br>

    Geregistreerde deelnemer beoordeeld kaarten<br>

    Geregistreerde deelnemer voegt kaarten toe<br>

    ----------------------------------------------------------------------------------------------------------------<br>

    Deelnemer maakt een opmerking tijdens een sessie
</p>

<p>
    <button class="btn btn-default">
        Button
    </button>
    <button class="btn btn-danger">
        Button
    </button>
    <button class="btn btn-info">
        Button
    </button>
    <button class="btn btn-primary">
        Button
    </button>
</p>

<div class="btn-group" role="group" style="margin-bottom: 20px">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
</div>
<br>

<div class="btn-group btn-group-lg" role="group" style="margin-bottom: 20px">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
</div>
<br>
<div class="btn-group" role="group" style="margin-bottom: 20px">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
</div>
<br>
<div class="btn-group btn-group-sm" role="group" style="margin-bottom: 20px">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
</div>
<br>
<div class="btn-group btn-group-xs" role="group" style="margin-bottom: 20px">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
</div>
<br>
<div class="btn-group" role="group" style="margin-bottom: 20px">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>
    </div>
</div>
<br>
<div class="btn-group-vertical" role="group" style="margin-bottom: 20px">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>
    </div>
</div>

