<h1>Maak een kaartje aan</h1>

<form>
    <div class="alert alert-warning" role="alert" style="width: 20em">
        <b>Heads up!</b> Tekst & afbeelding zijn niet meer wijzigbaar.
    </div>
    <div class="form-group">
        <label for="ib_text">Tekst </label>
        <input id="ib_text" class="form-control"
               name="ib_text" [(ngModel)]="card.text">
    </div>
    <br>
    <div class="form-group">
        <label for="ib_imageURL">Afbeelding: </label>
        <!--<input id="ib_imageURL" type="file"
               name="ib_imageURL" accept="image/*"
               [(ngModel)]="card.imageURL">-->
        <input class="form-control"
               id="ib_imageURL" type="text"
               name="ib_imageURL" [(ngModel)]="card.imageURL">
    </div>

    <br>
    <button class="btn btn-primary" name="btn_save" (click)="onSubmit()">Opslaan</button>
    <button class="btn btn-default">Annuleren</button>
</form>