<h1>Maak een thema aan</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="ib_name">Naam</label>
        <input id="ib_name" name="ib_name"
               [(ngModel)]="theme.themeName"
               class="form-control">
    </div>

    <div class="form-group">
        <label for="ib_description">Beschrijving</label>
        <textarea id="ib_description"
                  name="ib_description"
                  [(ngModel)]="theme.description"
                  class="form-control"></textarea>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <input type="checkbox" id="cb_commentaryAllowed"
                   name="cb_commentaryAllowed"
                   [(ngModel)]="theme.commentaryAllowed">
            <label for="cb_commentaryAllowed">Commentaar op kaartjes toegelaten</label>
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <input type="checkbox" id="cb_addingAdmitted"
                   name="cb_addingAdmitted" [(ngModel)]="theme.addingAdmitted">
            <label for="cb_addingAdmitted">Toevoegen van kaartjes toegelaten</label>
        </div>
    </div>

    <div id="tags">
        <p [id]="'tag' + i" *ngFor="#tag of theme.tags;#i=index">
            {{tag}} <span [id]="'delete_tag' + i" class="glyphicon glyphicon-remove" (click)="onRemoveTag(i)"></span>
        </p>
    </div>
    <div class="form-group">
        <input class="form-control" name="ib_newTag" [(ngModel)]="newTag">
        <button class="btn btn-default btn-sm" name="btn_addTag" (click)="onAddTag()">
            <span class="glyphicon glyphicon-tags"></span> Voeg tag toe
        </button>
        <span id="err_tag" class="error-message">{{tagErrorMessage}}</span>
    </div>

    <div id="organisators">
        <p [id]="'organisator' + i" *ngFor="#organisator of theme.organisatorNames;#i=index">
            {{organisator}} <span [id]="'delete_organisator' + i" class="glyphicon glyphicon-remove"
                                  (click)="onRemoveOrganisator(i)"></span>
        </p>
    </div>
    <select class="form-control" id="dd_users" [(ngModel)]="newOrganisator">
        <option [id]="'opt_user' + i" *ngFor="#user of users;#i=index">
            {{user}}
        </option>
    </select>
    <button class="btn btn-default btn-sm" name="btn_addOrganisator" (click)="onAddOrganisator()">Voeg organisator toe
    </button>
    <span id="err_organisator" class="error-message">{{organisatorErrorMessage}}</span>
    <br><br>
    <hr>
    <button class="btn btn-primary" name="btn_save" (click)="onSubmit()">Opslaan</button>
    <button class="btn btn-default" name="btn_cancel" (click)="onCancel($event)">Annuleren</button>
</form>