<h1>Aanmaken organisatie</h1>

<form (submit)="onSubmit()">
    <div class="form-group">
        <label for="ib_new_organisation">Organisatie naam:</label>
            <input id="ib_new_organisation" name="ib_new_organisation"
                   [(ngModel)]="organisation.name" class="form-control">
            <p>Organisatie naam is niet meer wijzigbaar</p>
        <br>
    </div>

    <button class="btn btn-primary" name="btn_add_organisation">Toevoegen</button>
    <button class="btn btn-default" name="btn_cancel" (click)="onCancel($event)">Annuleren</button>
</form>