<h1>Thema: <span id="span_themename">{{theme.themeName}}</span></h1>

<h3>Beschrijving:</h3>
<p id="p_description"> {{theme.description}}</p>
<form (submit)="onSubmit()">
    <div class="form-group">
        <input type="checkbox" id="cb_commentaryAllowed" name="cb_commentaryAllowed" disabled
               [(ngModel)]="theme.commentaryAllowed"
               class="form-control">
        <label for="cb_commentaryAllowed">Commentaar op kaartjes toegelaten</label>
    </div>

    <div class="form-group">
        <input type="checkbox" id="cb_addingAdmitted"
               name="cb_addingAdmitted" disabled
               [(ngModel)]="theme.addingAdmitted"
               class="form-control">
        <label for="cb_addingAdmitted">Toevoegen van kaartjes toegelaten</label>
    </div>

    <div id="tags">
        <p *ngFor="#tag of theme.tags">
            {{tag}}
        </p>
    </div>

    <button class="btn btn-default" id="btn_edit">Wijzigen</button>
</form>