<h1>Organisatie: <span id="span_organisationname">{{organisation.name}}</span></h1>
<div class="well" style="width: 50em">Organisator: {{organisation.organisatorName}}</div>

<div>
    <h2>Thema's</h2>
    <ul class="list-group">
        <li *ngFor="#theme of organisation.themes; #i=index"
            (click)="detailTheme(i+1)"
            class="list-group-item clickable-list">
            {{i+1}} | {{theme}}
        </li>
    </ul>
    <button class="btn btn-default" (click)="addTheme()">
        <span class="glyphicon glyphicon-plus"></span> Thema toevoegen
    </button>
</div>
<br>
<hr>
<button class="btn btn-default" (click)="backToList()">Terug naar lijst</button>