<h1>Welkom bij Kandoe!</h1>
<div *ngIf="currentUserDetails && !sessions.length==0">
    <h2>Jouw sessies</h2>

    <div style="width: 70em; margin-top: 2em">
        <div *ngFor="#session of sessions" class="session-circle"
             [ngClass]="{'green-border': !session.gameOver, 'red-border': session.gameOver}"
             (click)="onClickSession(session.id)">
            <div style="text-align: center;
        vertical-align: middle; transform: translateY(-50%);
        margin-top: 50%; word-wrap: break-word">
                <b>{{session.nameSession}}</b><br><br>
                Thema: {{session.themeName}}<br>
                <i>{{session.currentUserName}}</i>
            </div>
        </div>
    </div>
    <br>
    <a href="#/sessions" class="btn btn-primary" style="width: 10em">
        Naar alle sessies <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
</div>
<div *ngIf="currentUserDetails && sessions.length==0">
    <h3>Je hebt nog geen sessies, neem deel aan sessies en bekijk ze dan hier</h3>
</div>

<div *ngIf="!currentUserDetails">
    <h3>Login/Registreer en neem deel aan sessies en bekijk ze dan hier</h3>
</div>