<h1>Overzicht van jouw sessies:</h1>
<div>
    <table style="width:100%" class="table table-striped">
        <thead>
            <tr>
                <th>Naam sessie</th>
                <th>Soort cirkel</th>
                <th># cirkels</th>
                <th># gebruikers</th>
                <th>Huidige gebruiker</th>
                <th>Actief</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#session of sessions">
                <td>{{session.nameSession}}</td>
                <td>{{session.problem}}</td>
                <td>{{session.amountOfCircles}}</td>
                <td>Aantal users</td>
                <td>{{session.currentUser}}</td>
                <td>{{session.gameOver}}</td>
            </tr>
        </tbody>
    </table>
</div>